<VirtualHost *:80>
	ServerAdmin sysadm@ovitas.no
	DocumentRoot /opt/hunnor-dict/hunnor-admin-rails/public
	ServerName hunnor-dict-admin.ovitas.no
	ServerAlias hunnor-dict-admin
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /opt/hunnor-dict/hunnor-admin-rails/>
		AllowOverride All
		Options -MultiViews
		Require all granted
	</Directory>
	<Location />
		SetEnv DB_MYSQL_HOST localhost
		SetEnv DB_MYSQL_USER hunnor
		SetEnv DB_MYSQL_PASS hunnor
		SetEnv DB_MYSQL_DB hunnor
		SetEnv SOLR_URL http://localhost:8080/solr
		SetEnv OMNIAUTH_FACEBOOK_KEY 
		SetEnv OMNIAUTH_FACEBOOK_SECRET 
		SetEnv OMNIAUTH_GOOGLE_KEY 
		SetEnv OMNIAUTH_GOOGLE_SECRET 
		SetEnv OMNIAUTH_LINKEDIN_KEY 
		SetEnv OMNIAUTH_LINKEDIN_SECRET 
		SetEnv OMNIAUTH_TWITTER_KEY 
		SetEnv OMNIAUTH_TWITTER_SECRET 
	</Location>
	ErrorLog ${APACHE_LOG_DIR}/hunnor-dict-admin.error.log
	LogLevel warn
	CustomLog ${APACHE_LOG_DIR}/hunnor-dict-admin.access.log combined
</VirtualHost>
