#!/bin/bash

before=$(docker images -q hunnordict/solr-cores)

docker pull hunnordict/solr-cores

after=$(docker images -q hunnordict/solr-cores)

if [ "$before" == "$after" ]; then
	echo "Image up to date"
	exit 0
fi

docker stop solr-cores
docker rm solr-cores

docker run --detach --env TZ=Europe/Oslo --name solr-cores --publish 127.0.0.1:8983:8983 --restart always hunnordict/solr-cores

docker network connect solr-net solr-cores
