spring.thymeleaf.encoding=UTF-8

spring.mail.default-encoding=UTF-8
spring.mail.host={{hunnor_web_smtp_server}}
spring.mail.username={{hunnor_web_smtp_user_name}}
spring.mail.password={{hunnor_web_smtp_user_password}}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.socketFactory.port=465
spring.mail.properties.mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory
spring.mail.properties.mail.smtp.socketFactory.fallback=false
spring.mail.properties.mail.smtp.ssl.enable=true

net.hunnor.dict.client.contrib.mail.from={{hunnor_web_mail_from}}
net.hunnor.dict.client.contrib.mail.to={{hunnor_web_mail_to}}
net.hunnor.dict.client.contrib.mail.reply-to={{hunnor_web_mail_reply_to}}
net.hunnor.dict.client.contrib.recaptcha.url=https://www.google.com/recaptcha/api/siteverify
net.hunnor.dict.client.contrib.recaptcha.site-key={{hunnor_web_recaptcha_key}}
net.hunnor.dict.client.contrib.recaptcha.secret-key={{hunnor_web_recaptcha_secret}}

net.hunnor.dict.client.search.solr.url=http://solr-cores:8983/solr
net.hunnor.dict.client.search.solr.cores=hu,nb

logging.config=/config/logback.xml
