MAILTO={{hunnor_sysadmin_email}}

00 01 * * * docker exec mysql sh -c 'mysqldump {{hunnor_mysql_database}} hn_hun_segment hn_hun_tr_nob_tmp hn_nob_segment hn_nob_tr_hun_tmp > /data/hunnor.sql' && docker exec admin-rails bundle exec rake hn:export['hu','/data'] && docker exec admin-rails bundle exec rake hn:export['nb','/data'] && docker start export-ant > /dev/null
