MAILTO={{hunnor_sysadmin_email}}

00 01 * * * docker exec mysql sh -c 'mysqldump {{hunnor_mysql_database}} hn_hun_segment hn_hun_tr_nob_tmp hn_nob_segment hn_nob_tr_hun_tmp > /data/hunnor.sql' && curl -s -f -X POST http://localhost:8083/migrate > /dev/null && curl -s -f http://localhost:8083/export?lang=HU > /opt/hunnor-dict/data/HunNor-XML-HN.xml && curl -s -f http://localhost:8083/export?lang=NB > /opt/hunnor-dict/data/HunNor-XML-NH.xml && docker start export-ant > /dev/null
