<VirtualHost *:80>

    ServerName hunnor-dict-admin.ovitas.no

    ServerSignature Off

    RewriteEngine on
    RewriteCond %{SERVER_NAME} =hunnor-dict-admin [OR]
    RewriteCond %{SERVER_NAME} =hunnor-dict-admin.ovitas.no
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]

    ErrorLog ${APACHE_LOG_DIR}/redirect.error.log
    LogLevel warn

</VirtualHost>
