<VirtualHost *:80>

    ServerName szotar.hunnor.net

    ServerSignature Off

    RewriteEngine On
    RewriteRule ^ http://dict.hunnor.net%{REQUEST_URI} [END,QSA,R=permanent]

    ErrorLog ${APACHE_LOG_DIR}/redirect.error.log
    LogLevel warn

</VirtualHost>
