<VirtualHost *:80>

    ServerName dict.hunnor.net

    ServerSignature Off

    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/port/lucene/hunnor\-lucene\-3\.6\.zip
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,QSA,R=permanent]

    ErrorLog ${APACHE_LOG_DIR}/redirect.error.log
    LogLevel warn

    <Directory {{hunnor_directory_deploy}}/Public/Databases/HunNor-Lucene.zip>
        Require all granted
    </Directory>

    Alias /port/lucene/hunnor-lucene-3.6.zip {{hunnor_directory_deploy}}/Public/Databases/HunNor-Lucene.zip

</VirtualHost>
