<IfModule mod_ssl.c>

    <VirtualHost *:443>

        ServerName hunnor-dict-admin.ovitas.no
        ServerAlias hunnor-dict-admin

        ServerAdmin {{hunnor_user_email}}

        ErrorLog ${APACHE_LOG_DIR}/hunnor-dict-admin.error.log
        CustomLog ${APACHE_LOG_DIR}/hunnor-dict-admin.access.log combined

        ProxyPass / http://localhost:3000/
        ProxyPassReverse / http://localhost:3000/

        SSLCertificateFile /etc/letsencrypt/live/hunnor-dict-admin.ovitas.no/fullchain.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/hunnor-dict-admin.ovitas.no/privkey.pem

        Include /etc/letsencrypt/options-ssl-apache.conf

    </VirtualHost>

</IfModule>
