DB_MYSQL_HOST=mysql
DB_MYSQL_USER={{hunnor_mysql_user_name}}
DB_MYSQL_PASS={{hunnor_mysql_user_password}}
DB_MYSQL_DB={{hunnor_mysql_database}}

SOLR_URL=http://solr-cores:8983/solr

OMNIAUTH_FACEBOOK_KEY={{hunnor_admin_facebook_key}}
OMNIAUTH_FACEBOOK_SECRET={{hunnor_admin_facebook_secret}}
OMNIAUTH_LINKEDIN_KEY={{hunnor_admin_linkedin_key}}
OMNIAUTH_LINKEDIN_SECRET={{hunnor_admin_linkedin_secret}}
