spring.datasource.url=jdbc:mysql://mysql:3306/hunnor?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8
spring.datasource.username={{hunnor_mysql_user_name}}
spring.datasource.password={{hunnor_mysql_user_password}}

net.hunnor.dict.admin.export.namespace=http://dict.hunnor.net
net.hunnor.dict.admin.export.schema.location=classpath:hunnor.net.Schema.NH.xsd

logging.config=/config/logback.xml
