#!/bin/bash

before=$(docker images -q mysql:5.7)

docker pull mysql:5.7

after=$(docker images -q mysql:5.7)

if [ "$before" == "$after" ]; then
	echo "Image up to date"
	exit 0
fi

docker stop mysql
docker rm mysql

# Skip volume for /docker-entrypoint-initdb.d
#   since the named volume already has the data

docker run --env TZ=Europe/Oslo --env-file {{hunnor_directory_apps}}/mysql/config/mysql.env --name mysql --publish 3306:3306 --restart always --volume {{hunnor_directory_apps}}/mysql/config:/etc/mysql/conf.d --volume {{hunnor_directory_data}}:/data --volume mysql-data:/var/lib/mysql mysql:5.7

docker network connect mysql-net mysql
