#!/bin/bash

docker stop admin-rails
docker rm admin-rails
rm -rf {{hunnor_directory_apps}}/admin-rails/tmp/pids

docker pull hunnordict/admin-rails

docker run --env-file {{hunnor_directory_apps}}/admin-rails/config/admin.env --name admin-rails --publish 3000:3000 --restart always --detach --user {{hunnor_user_id}}:{{hunnor_user_group_id}} --volume {{hunnor_directory_data}}:/data --volume {{hunnor_directory_apps}}/admin-rails/logs:/opt/hunnor-dict/admin-rails/log --volume {{hunnor_directory_apps}}/admin-rails/tmp:/opt/hunnor-dict/admin-rails/tmp hunnordict/admin-rails

docker network connect mysql-net admin-rails
docker network connect solr-net admin-rails
